.header {
  height: 100px;
  width: 100%;
  padding: 0 2rem;
  background: #fff;

  img {
    width: 100px;
  }

  &__logo {
    width: 50px;
  }

  &__info {
    display: flex;

    & > *:last-child {
      margin-left: 15px;
    }
  }
}
